*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
body{
    height: 100vh;
    text-align: center;


}
.header-content{
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
    align-items: center;
}
.logo-text{
    font-size: 24px;
    color:#F9FaF8 ;
    font-weight: bold;
}
.nav{
    display: flex;
    gap: 12px;
}
.content{
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    align-items: center;
    gap: 80px;
    
}

.left-content{
    display: flex;
    flex-direction: column;
 

}
img{
    height: 250px;
    width: auto;
    margin-bottom: 1rem;
}
p,h2{
    text-align: left;
    color:#F9FaF8 ;
}
.main{
    background-color:#1F2937 ;
    padding-bottom: 2rem;
}
.signup-button{
    text-align: center;
    margin-top: 18px;
    border: none;
    border-radius: 0.35rem;
    background-color: #3882F6;
    color:#F9FaF8 ;
    width: 5rem;
    height: 1.6rem;

}
.nav-link{
    color: #F9FaF8;
}
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 2rem;
}

.info-head {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;

}

.boxes {
    display: flex;
    gap: 2rem;
    max-width: 1080px;
}

.box-para {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    max-width: 200px;

}

.box {
    height: 150px;
    width: 150px;
    border: solid 4px #3882F6;
    border-radius: 1rem;
}

.box-para p {
    color: #1F2937;
    text-align: center;
}